body {
    background-color: #eee;
}

.newsletter {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-family: 'Inclusive Sans', sans-serif;
}

.newsletter__wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.newsletter__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.newsletter__input,
.newsletter__select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}

.newsletter__submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1rem;
}

.newsletter__submit:hover {
    background-color: #0056b3;
}

.newsletter__option {
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .newsletter__wrapper {
        max-width: 100%;
    }
}